.animation{
    display: flex;
    width: 100%;
    height: 100%;
}
.row-animation{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 34% 0% 50% 47% / 0% 0% 17% 19% ; 
    
}

.row-animation .estrela {
    animation: estrala 6s;
    animation-name: estrela;
    animation-fill-mode: forwards;
    transform: translate(-60%, -25%) scale(0.6);
    width: 25%;
    opacity: 200%;
    
}
.row-animation .nuvem{
    animation: nuvem 6s;
    animation-name: nuvem;
    transform: translate(30%, 10%) scale(1);
    width: 25%;
    z-index: 100;
    opacity: 0.8;
}

@keyframes estrela {
    0%{
        transform: translateX(100%) scale(1);
    }
    35%{
        opacity: 95%;
    }
    70%{
        opacity: 85%;
    }
    100%{
        opacity: 70%;
        
    }
}
@keyframes nuvem {
    0%{
        transform: translateX(-100%) scale(1);
    }
    100%{
        opacity: 95%;
    }
}

